<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">
    <style>
        .main.container {
            padding-top: 50px;
        }
    </style>

</head>

<body>
    <div class="ui inverted fixed menu">
        <div class="header item">Tutoriel</div>
    </div>

    <div class="ui main container" id="app">

        <!--
            Lien
        <a v-bind:href="link">{{ message }}</a>


        <ul>
            Permet de faire une liste de personnes 

            <li v-for="person in persons">{{person}}</li> 

        </ul>

        -->




        <!-- Pas de possibilité de mettre href directement pour les attributs (exemple : link)-->
        <!--
            Même chose
            <a :href="link">{{ message }}</a> 
        -->

        <input type="checkbox" v-model="cls" :true-value="'success'" :false-value="'error'"> <!-- Avant le changement app.js : v-model="success" -->

        <div class="ui message" :class="cls"> <!-- Pour le test background app.js avec la fonction style : :style="style()" -->



            <!-- Autre VueJS : v-if v-else v-show=-->
            <!-- <div class="ui message" :class="success ? 'success' : 'error'"> -->
            <!-- Marche aussi avec les objets :class="{success: success, error: !success}-->


            <i class="close icon" v-on:click="close"> </i> <!-- v-on:click = @click -->

            <p>
                {{ message }}
            </p>

        </div>

        

        <div class="ui error message" v-else="succes"> <!--v-if="!succes"> -->
            <p>Echec</p>

        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.0/vue.js"></script> <!--Permet d'avoir VueJS-->

    <script src="js/app.js"> </script>

</body>

</html>
